<!-- Footer -->
  
<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="row mb-5">
            <div class="col-12">
              <h3 class="footer-heading mb-4">About Us</h3>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            </div>
          </div>
          

          
        </div>

        <div class="col-lg-4 mb-5 mb-lg-0">

          <div class="mb-5">
            <h3 class="footer-heading mb-2">Subscribe Newsletter</h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>

            <form method="post" class="form-subscribe">
              <div class="form-group mb-3">
                <input type="text" class="form-control border-white text-white bg-transparent" placeholder="Enter full name" aria-label="Enter Email" aria-describedby="button-addon2">
              </div>
              <div class="form-group mb-3">
                <input type="text" class="form-control border-white text-white bg-transparent" placeholder="Enter email" aria-label="Enter Email" aria-describedby="button-addon2">
              </div>
              <div class="form-group">
                <button class="btn btn-primary px-5" type="submit">Subscribe</button>
              </div>
            </form>

          </div>

        </div>
        
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <div class="mb-4">
                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
              </div>
        </div>
        
      </div>
    </div>
  </footer>
  <!-- Footer end -->